.div1{
    background: chocolate;
    width: 300px;
    height: 20px;
}

.div2{
    background-image: url("../../image/001bg.png");
    width: 400px;
    height: 200px;
    color: white;
    font-size: 60px;
    cursor: pointer;

    position: fixed;/**固定位置Fixed */
    bottom: 100px;
    right: 20px;
}

span{
    font-size: 60px;
    border: 5px solid blueviolet;
}

.span2{
    position: relative;/*相对Relative 定位*/
    left: 50px;
}

