
/*相连兄弟选择器*/
div+p{
    background-color: aquamarine;
}

/*普通兄弟选择器*/
div~p{
    background-color: burlywood;
}

/*属性选择器*/
[title]{
    color: blue;
}

[title=h2]{
    color: darkgreen;
}

/*伪类选择器--->选择第一个元素*/
:first-child{
    background-color: crimson;
}